.my-icon {
    color: #8FB7CD !important;
    margin-right: 25px;
    font-size: 15px;
    vertical-align: middle;
    transition: transform 0.3s ease;
}

div .detalles-boton {
    background: linear-gradient(45deg, #2a6479, #355d76);
    color: #8fb7cd;
    box-shadow: 0 12px 30px rgba(42, 100, 121, 0.4);
    border: 2px solid #355d76;
    min-width: 150px;
    transition: all 0.3s ease;


}

.detalles-boton:hover {
    transform: translateY(-4px);
    box-shadow: 0 18px 40px rgba(42, 100, 121, 0.5);
    background: linear-gradient(45deg, #355d76, #2a6479);
}


.forms-boton:hover {
    transform: translateY(-4px);
    box-shadow: 0 18px 40px rgba(42, 100, 121, 0.5);
    background: linear-gradient(45deg, #355d76, #2a6479);
}

.forms-boton {
    background: linear-gradient(45deg, #2a6479, #355d76);
    color: #8fb7cd;
    box-shadow: 0 12px 30px rgba(42, 100, 121, 0.4);
    border: 2px solid #355d76;
    min-width: 150px;
    transition: all 0.3s ease;


}

.forms-boton:hover {
    transform: translateY(-4px);
    box-shadow: 0 18px 40px rgba(42, 100, 121, 0.5);
    background: linear-gradient(45deg, #355d76, #2a6479);
}

.custom-form {
    border: 2px solid #2a6479;
    box-shadow: 0 0 25px rgba(42, 100, 121, 0.4);
}

.titulos-form {
    text-align: center;
    color: #8FB7CD !important;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 25px;
}

.label {
    text-align: left;
    display: block;
    color: #8FB7CD;
}

.link-color {
    color: #8FB7CD;
    text-decoration: none;
    /* opcional: quita el subrayado */
}


.custom-navbar {
    max-width: 100%;
    background-color: #010f29 !important;
/* height: 80px; */
}


.icono-detaills {
    color: #8FB7CD;
    margin-right: 8px;
    width: 20px;
    font-size: 120px;
}

.titulo-pagina {
    margin-top: 25px;
    font-size: 50px;
    color: #FFFFFF;
    text-shadow:
        0 0 5px #6C7377,
        0 0 10px rgba(26, 31, 34, 0.7),
        0 0 15px rgba(2, 27, 27, 0.5);
    animation: breathing 4s ease-in-out infinite;
    font-weight: 600;
    letter-spacing: 1px;
}

.my-icon svg {
    font-size: 30px;
}


.my-icon:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.error-page {
    color: rgb(208, 124, 27);
    text-align: center;
    font-size: 3.5rem;
    margin-top: 5vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 20px rgba(11, 103, 23, 0.3);
    padding: 8rem;
    border-radius: 12px;
    background-color: rgba(208, 216, 159, 0.8);
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}


.logo-nav {
    width: 100px;
    /* height: 100px; */
}

.toggle-blanco {
    background-color: transparent;
    border: 1px solid white;
    color: white;

}

.toggle-blanco .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.campo-busqueda {
    width: 200px;
    font-size: 14px;
    padding: 6px 10px;

}